body {
  background: #00273c;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 20px;
}

.container {
  background: rgba(255, 255, 255, 0.9);
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  max-width: 900px;
}

.card {
  border: none;
  border-radius: 15px;
  overflow: hidden;
  transition: transform 0.3s ease-in-out;
  background: #ffffff;
}

.back-button {
  position: absolute;
  top: 15px;
  left: 15px;
  background: rgba(225, 199, 67, 1);;
  color: #000;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  text-decoration: none;
  z-index: 10;
}

.back-button:hover {
  background-color: rgba(225, 199, 67, 0.8);
}

.card-img-top {
  height: 300px;
  object-fit: cover;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.card-body {
  padding: 20px;
}
.card-body hr {
  border: 0;
  height: 1px;
  background: #ddd;
  margin: 15px 0;
}

.card-title {
  font-size: 24px;
  font-weight: bold;
  color: #000;
  margin-bottom: 15px;
}

.card-text {
  text-align: justify;
  line-height: 1.8;
  font-size: 16px;
  color: #333;
}

hr {
  border: none;
  height: 1px;
  background: #ddd;
  margin: 15px 0;
}

.btn-danger {
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
}

.btn-danger:hover {
  background-color: grey;
}
